$a4ai-orange: #EC962E;
$a4ai-blue: #35B4B0;
$a4ai-green: #9EC83D;
$a4ai-gray: #595A59;
$a4ai-light-gray: #B2B3B2;
$a4ai-dark-blue: #187798;
$a4ai-other-blue: #1AA1CA;
$a4ai-red: #6E5D9F;

/* REPORT */

$report-colour-tags:  $a4ai-orange,
                      $a4ai-green,
                      $a4ai-blue,
                      $a4ai-dark-blue,
                      $a4ai-other-blue,
                      $a4ai-red,
                      $a4ai-gray;

/* DATA */

$data-selected-element: #888;

$data-value-colour: #aaa;
$data-value-label: #999;
