/* Constants */

$size-xs : 480px;
$size-sm : 768px;
$size-md : 992px;
$size-md-lg: 1024px;
$size-lg : 1200px;
$size-xl : 1600px;

$data-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$data-font-weight: 300;
